@import '../../../assets/styles/theme/5d-solutions_themes.scss';
.login_container {
    margin-top: 5%;
    background-color: $background-white;
    width: 28%;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .175);
    height: auto;
    overflow: auto;
    padding-bottom: 30px;
    .image-row {
        .img-heading-section {
            padding-left: 95px !important;
            .logoImage {
                width: 100%;
            }
        }
    }
    .form-row {
        h5 {
            color: $d_pink;
            font-size: 30px;
            font-family: 'Dosis', sans-serif;
        }
    }
    .login-form-section {
        .sign-in-button {
            margin-top: 23px;
            .sign-bt {
                background-color: $d_blue;
            }
        }
        .anchor-div {
            .anchor-text {
                color: $d_blue;
                padding-left: 26%;
                font-family: 'Dosis', sans-serif;
            }
            .anchor-text:hover {
                color: $d_blue;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width:567px) {
    .login_container {
        width: 90%;
        margin-top: 20%;
        // margin:100px 15px;
        .image-row {
            .img-heading-section {
                padding-left: 75px !important;
                .logoImage {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .login_container {
        width: 90%;
        margin: 100px 15px;
        .image-row {
            .img-heading-section {
                padding-left: 100px;
                .logoImage {
                    width: 100%;
                }
            }
        }
    }
}