@import '../../../../../assets/styles/theme/5d-solutions_themes.scss';
.header-setion {
    // border-bottom: 2px solid red;
    background-color: $background-white;
    .header-content {
        .header-img-section {
            // .dev-sec-logo {
            // height: 79px;
            // border-right: 1px solid $grey_light;
            // }

            // @media screen and (max-width:567px) {
            // .dev-sec-logo {
            //     width:60%;
            //     }
            // }
            .company-logo{
              width: 100px;
              height: 100px;
            }
        }
    }
    .app-menu{
      .app-menu-content{
         .signup-button {
          .mat-flat-button{
            font-family: 'Dosis', sans-serif;
              font-size: 18px;
              color: $d_blue;
          }
         }
      }
    }

}
@media screen and (max-width:567px) {
    .header-setion {
        width: 100%;
        // border-bottom: 2px solid $newgen_orange;
        background-color: $background-white;
        height: 100px;
        .header-content {

          .header-img-section {
            }
        }

    }
    }
