<div class="header-setion shadow shadow-lg">
    <div class="header-content d-flex justify-content-between">
        <div class="header-img-section">
            <img src="../../../../../assets/resources/images/codemyMobile.jpg" class="company-logo">
            <!-- <img src="../../../../assets/Images/Bloggittext.png" class="bloggtTextLogoImage"> -->
        </div>
        <div class="app-menu d-flex align-items-center justify-content-end">
            <div class="app-menu-content w-100 d-flex justify-content-between">

                <!-- <div class="login-button">
            <button type="button" class="btn button-login"><span class="login-button-label">Login</span></button>
        </div> -->
                <div class="signup-button">
                    <button mat-flat-button (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>