/** Cabin **/

@font-face {
    font-family: 'universe_eot';
    src: url('src/assets/styles/sass/theme/anbtx/fonts/univers/univers-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'universe_woff';
    src: url('src/assets/styles/sass/theme/anbtx/fonts/univers/univers-bold.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_regular';
    src: url('src/assets/styles/sass/theme/anbtx/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_bold';
    src: url('src/assets/styles/sass/theme/anbtx/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'calibri';
    src: url('src/assets/styles/sass/theme/anbtx/fonts/calibri/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'calibri_bold';
    src: url('src/assets/styles/sass/theme/anbtx/fonts/calibri/CALIBRIB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}